<div class="grid-container">
    {{!-- <div class="menu-icon">
        <i class="fas fa-bars header__menu"></i>
    </div> --}}

    <header class="header">
        <div class="header__avatar">Dashboard</div>
    </header>

    <aside class="sidenav">
        <div class="sidenav__close-icon">
            <i class="fas fa-times sidenav__brand-close"></i>
        </div>
        <ul class="sidenav__list">
            <a href="/dashboard">
                <li class="sidenav__list-item">Dashboard</li>
            </a>
            <a href="/profile">
                <li class="sidenav__list-item">My profile</li>
            </a>
            <a href="/allEvents">
                <li class="sidenav__list-item">Access All events</li>
            </a>
        </ul>
    </aside>

    <main class="main">
        <div id="container-my-event">
            <h1 class="h1-text">My Created Events</h1>
            <div class="main-overview">

                {{#each myEvents}}
                <div class="overviewcard">
                    <img class="img-dashboard" src={{this.image}}>
                    <div class="text-title-des">
                        <p class="title-evt">{{this.title}}</p>
                        <p>{{this.description}}</p>
                    </div>
                    <div id="icon-events-manage">
                        <a href="/events_manage/delete/{{this._id}}"><img width="30px" height="30px" src="/img/bin.png"
                                alt=""></a>
                        <a href="/events_manage/update/{{this._id}}"><img width="30px" height="30px" src="/img/edit.png"
                                alt=""></a>
                    </div>
                </div>
                {{/each}}

            </div>
        </div>

        <div id="container-my-event-participate">
            <h1 class="h1-text">My Participated Events </h1>
            <div class="main-overview">
                {{#each hisEvents}}
                <div class="overviewcard">
                    <img class="img-dashboard" src={{image}}>
                    <div class="text-title-des">
                        <p class="title-evt">{{title}}</p>
                        <p>{{description}}</p>
                    </div>
                    <div id="icon-events-manage">
                        <a href="/events_manage/delete/{{_id}}"><img width="30px" height="30px" src="/img/bin.png"
                                alt=""></a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

    </main>
</div>